
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <div xmlns:th="http://www.thymeleaf.org">
        <div th:if="${error} != null" th:text="${error}">

        </div>
        <div>
            <a href="/songs/edit-form" style="margin-bottom: 20px; display: inline-block;">
                <button>Create New Song</button>
            </a>
        </div>
        <h2>Choose a song:</h2>

        <div th:each="song: ${songs}">
            <label>Title: </label><span th:text="${song.getTitle()}"></span>
            <label>, Genre: </label><span th:text="${song.getGenre()}"></span>
            <label>, Release year: </label><span th:text="${song.getReleaseYear()}"></span>
            <label>, Album: </label><span th:text="${song.getAlbum().getName()}"></span>
            <br/>
            <form th:action="@{'/songs/delete/{id}' (id=${song.getId()})}" th:method="DELETE">
                <button type="submit" class="btn btn-sm btn-danger delete"><i class="fa fa-trash">Delete</i></button>
            </form>
            <form th:action="@{'/songs/edit-form/{id}' (id=${song.getId()})}"
                  th:method="GET">
                <button type="submit">
                    <i class="fa fa-trash">Edit Song</i>
                </button>
            </form>
            <form th:action="@{'/artist?trackId=' + ${song.getId()}}"
                  th:method="GET">
                <button type="submit">
                    <i class="fa fa-trash">Add artist to song</i>
                </button>
            </form>
        </div>


    </div>
</main>
</body>
</html>
